-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontpreverify
-verbose
-dontshrink
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class com.android.vending.licensing.ILicensingService
-keep class com.fasterxml.jackson.databind.ObjectMapper
-keep class com.viettel.vinamilk.dto.syndata.SynDataTableDTO
-keep class org.codehaus.** { *; }
-keepattributes *Annotation*,EnclosingMethod
-keepattributes SourceFile,LineNumberTable

-dontshrink
-dontoptimize
-dontwarn org.apache.commons.**
-dontwarn android.support.v4.**
-dontwarn com.fasterxml.jackson.**
-dontwarn com.google.android.gms.**
-dontwarn com.viettel.utils.**
-dontwarn com.libs.commonsware.**
-dontwarn javax.annotation.**
-dontwarn com.google.common.primitives.**

-keepclasseswithmembernames class * {
    native <methods>;
}

-keepclasseswithmembernames class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers class * extends android.app.Activity {
	public void *(android.view.View);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

-keep public class com.fasterxml.jackson.** {
  public *;
}

-keep public class mydatapackage.** {
  public void set*(***);
  public *** get*();
}

-keep class * extends java.util.ListResourceBundle {
    protected Object[][] getContents();
}

-keep public class com.google.android.gms.common.internal.safeparcel.SafeParcelable {
    public static final *** NULL;
}

-keepnames @com.google.android.gms.common.annotation.KeepName class *
-keepclassmembernames class * {
    @com.google.android.gms.common.annotation.KeepName *;
}

-keepnames class * implements android.os.Parcelable {
    public static final ** CREATOR;
}

-keepclassmembers class **.R$* {
	public static <fields>;
}

-keep class net.sqlcipher.** {
    *;
}

-keep class net.sqlcipher.database.** {
    *;
}

##---------------Begin: proguard configuration for Gson  ----------
# Gson uses generic type information stored in a class file when working with fields. Proguard
# removes such information by default, so configure it to keep all of it.
-keepattributes Signature

# Gson specific classes
-keep class sun.misc.Unsafe { *; }
#-keep class com.google.gson.stream.** { *; }

-keep class com.viettel.dms.dto.db.** { *; }

-keepclassmembers class fully.qualified.path.to.class$innerclass {
        private <fields>;
}